div{
	caret-color: transparent;
}
/*left top div content*/
.left,.right{
	height: 100vh;
}
.left{
	margin-right: 10px;
	width: 25%;
	flex-direction: column;
	background-color: transparent;
}
.leftTop{
	padding: 10px;
	margin-bottom: 5px;
	height: 130px;
	width: 100%;
	background-color:#121212;
}
.leftTopDivContainer{
	height: 100%;
	gap:4px;
}
.logoDiv,
.homeDiv,
.searchDiv{
	border-radius: 9px;
	cursor: pointer;
	height: 40px;
	width: 100%;
	transition: background-color 0.3s;
}
.homeDiv:hover,
.searchDiv:hover{
	background-color: rgba(107, 108, 115,0.3);
}
/*left bottom div content*/
.leftBottom{
	height: 80%;
	width: 100%;
	background-color: #121212;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 65px;
}

/*right content*/
/*right top content*/
.rightTop,
.rightBottom{
	background-color: #121212;
}
.right{
	position: relative;
	flex-direction: column;
	width: 75%;
	gap: 10px;
}
.rightTop{
	justify-content: space-between;
	height: 10%;
	width: 100%;
}
/*right top content*/

/*right bottom content*/
.rightBottom{
	overflow-x: hidden;
	overflow-y: auto;
	height: 90%;
	width: 100%;
}
.playlistDesign-Heading{
	border-bottom: 1px solid gray;
	padding: 23px 19px;
	justify-content: space-between;
}
.playlistDesign-Heading>a{
	color: #b3b3b3;
	font-weight: 800;
	text-decoration: none;
}
.playlistDesign-Heading>a:hover{
	text-decoration: underline;
}

/*song cover design*/
.playlistDesign-songCardContainer{
	flex-wrap: wrap;
	gap: 30px;
	padding: 20px 75px 100px 73px;
}
.card{
	position: relative;
	cursor: pointer;
	overflow: hidden;
	height: 270px;
	width: 185px;
	border-radius: 6px;
	transition: all 0.5s;
}
.card:hover{
	transform: scale(1.04);
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.8);
	background-color:rgba(64, 62, 62,0.3);
}
.card>p,
.card>h2{
	margin: 0px 10px 5px 10px;
}

.card>p{
	color: #ccc;
	margin-bottom: 7px;
	font-size: 0.9rem;
}
/*song cover design*/

/*Playbar design*/
/*playbarleft portion(containing details about currently playing song loaded by javascript)*/
.playBar-Left{
	position:absolute;
	left: 15px;
	width: 24.4%;
	height: 100%;
}
.currentTrackSongInfo{
	overflow: hidden;
	min-width: 69%;
}
.currentTrackInfo{
	min-width: 100%;
	gap: 10px;
}

/*playbarleft portion(containing details about currently playing song loaded by javascript)*/
.songPlayBar{
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	margin: 10px 19px 0px 8px;
	width:99%;
	background-color:#000;
}
.playBar-Center{
	width: 50%;
	height: 100%;
	justify-content: space-between;
	gap: 7px;
}
.songButtons{
	margin-top: 5px;
	gap: 20px;
}

/*Playbar design*/
/*right bottom content*/
/*right content*/