main{
	flex-direction: row;
}
div{
	caret-color: transparent;
}
/*left top div content*/
.left,.right{
	height: 100vh;
}
.left{
	margin-right: 10px;
	width: 25%;
	flex-direction: column;
	background-color: transparent;
}
.leftTop{
	padding: 10px;
	margin-bottom: 5px;
	height: 130px;
	width: 100%;
	background-color: rgba(41, 42, 46, 0.6);
}
.leftTopDivContainer{
	height: 100%;
	gap:4px;
}
.logoDiv,
.homeDiv,
.searchDiv{
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	width: 100%;
	transition: background-color 0.3s;
}
.homeDiv:hover,
.searchDiv:hover{
	background-color: rgba(107, 108, 115,0.3);
}
/*left bottom div content*/
.leftBottom{
	height: 85%;
	width: 100%;
	background-color: rgba(41, 42, 46, 0.6);
}

/*right content*/
.right{
	width: 75%;
	background-color: rgba(41, 42, 46, 0.6);
}
.rightTop{
	height: 70%;
	width: 100%;
}